<div class="column is-4 mt-6">
    <div class="card">
        <div class="card-content">
        <p class="title is-6">
            <%= customer.name %>
        </p>

        <% if customer.image.present? %>
            <div class="ml-5">
                <figure class="image">
                    <%= image_tag customer.image %>
                </figure> 
            </div>
        <% end %>

        <p class="mt-5">
            <%= customer.email %>
        </p>
        <p class="mt-5">
            <%= customer.phone %>
        </p>
    </div>
    </div>
</div>