<h2>All Customers</h2>

<div>
    <div>
        <div>
            <p>
                <%= link_to customer.name, customer %>
            </p>
        </div>
        
        <% if customer.image.present? %>
            <div>
                <figure>
                    <%= image_tag customer.image %>
                </figure>
            </div>
        <% end %>
        
        <div>
            <footer>
                <p>
                    <%= customer.email %>
                </p>
                <p>
                    <%= customer.phone %>
                </p>
            </footer>
        </div>
        
    </div>
</div>