<h2 class="title is-2">All Customers</h2>

<div class="columns is-multiline is-centered is-variable is-8">
    <% @customers.each do |customer| %>
        <%= render partial: 'customer', object: customer %>
    <% end %>
</div>

<div class="mt-6 ml-5">
    <p class="title is-6"><%= link_to "ðŸ° All customers ordered by name", customers_alphabetized_path %></p>
    <p class="title is-6"><%= link_to "ðŸ¶ All customers missing email address", customers_missing_email_path %></p>
</div>
